{
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "Polymer": true,
    "customElements": true
  },
  "plugins": [
    "html"
  ]
}
